body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: green;
}

.logo {
  margin: 20px;
}

.usuario-titulo {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.link-navegacao {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-link {
  padding: 20px;
}

/* .data-user {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
